<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title> 
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre">

        <span>Lugar para poner barra de búsquedas</span>

        <p>Comprá en cuotas y sin tarjeta de crédito</p>

        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Créa tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <img src="/images/img-home-banner.jpg" alt="Banner ofertas" width="100%">

        <section>
            <h4>Basado en tu última visita</h4>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera moulinex" width="100%">

                <p>$6.770</p>

                <p>40% off</p>

                <h5>Cafetera Moulinex</h5>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de macbook pro 2019" width="100%">

                <p>$230.000</p>

                <p>20% off</p>

                <h5>Macbook Pro 2019</h5>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen samsung galaxy s10" width="100%">

                <p>$70.500</p>

                <p>10% off</p>

                <h5>Samsung Galaxy S10</h5>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen smart tv samsung" width="100%">

                <p>$23.200</p>

                <p>5% off</p>

                <h5>Smartv Samsung 43"</h5>
            </article>
        </section>

        <section>
            <h4>Ofertas</h4>

            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera moulinex" width="100%">

                <p>$6.770</p>

                <p>40% off</p>

                <h5>Cafetera Moulinex</h5>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de macbook pro 2019" width="100%">

                <p>$230.000</p>

                <p>20% off</p>

                <h5>Macbook Pro 2019</h5>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen samsung galaxy s10" width="100%">

                <p>$70.500</p>

                <p>10% off</p>

                <h5>Samsung Galaxy S10</h5>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen smart tv samsung" width="100%">

                <p>$23.200</p>

                <p>5% off</p>

                <h5>Smartv Samsung 43"</h5>
            </article>
        </section>
    </main>

    <footer>
        <article>
            <h4>Pagá con tarjeta o en efectivo</h4>

            <p>
                Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o en efectivo en puntos de pago. ¡Y siempre
                es seguro!
            </p>
        </article>

        <article>
            <h4>Envio gratis desde los $ 2.500</h4>

            <p>
                Solo por estar registrado en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio
                de Mercado Puntos.
            </p>
        </article>

        <article>
            <h4>Seguridad de principio a fin</h4>

            <p>
                ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas gacer porque estás siempre protegid@.
            </p>

            <span>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</span>
        </article>
    </footer>
</body>

</html>